fastapi
uvicorn
sqlalchemy
python-dotenv
pydantic
passlib[bcrypt]
email-validator
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-chroma
langgraph
chromadb
pypdf
python-docx
openpyxl
sentence-transformers
pandas